{% extends 'base.html' %}

{% block title %}Book List{% endblock %}

{% block content %}

{% include 'user_nav.html' %}

<h1>Book List</h1>

{% if book_list %}
<h2>{{ book_list|length }} book{{ book_list|pluralize }} total</h2>
{% endif %}

{% for book in book_list %}
<div class="book" id="book-{{ forloop.counter }}">
<p>{{ book.title }} by {{ book.author }}</p>
{% if book.review__rating__avg %}
<p><i>Average rating: {{ book.review__rating__avg }}</i></p>
{% endif %}
</div>
<hr />
{% empty %}
<p>There are no books in the database.</p>
{% endfor %}

{% endblock %}