{% extends 'base.html' %}

{% block title %}Review List for {{ book.title }} {% endblock %}

{% block content %}

{% include 'user_nav.html' %}

<h1>{{ book.title }}</h1>
<h2>by {{ book.author }}</h2>
{% if review_list %}
<h3>{{ review_list|length }} review{{ review_list|pluralize}}</h2>
<h3>Average rating: {{ average_rating }}</h3>
{% endif %}

{% for review in review_list %}
<div class="review" id="review-{{ forloop.counter }}">
<p>{{ review.user.username }} ({{ review.timestamp }})</p>
<p>{{ review.rating }} out of 5</p>
<p>
{{ review.review_message }}
</p>
</div>
{% empty %}
<p>There are no reviews for this book.</p>
{% endfor %}
{% endblock %}