{% extends 'base.html' %}

{% block title %}Bookstore Login{% endblock %}

{% block content %}
<h1>Login</h1>

{% if user.is_authenticated %}
<p>
You are already logged in as <b>{{ user.username }}.</b>
</p>
{% else %}
<form action="" method="POST">
	{% csrf_token %}
	
	{{ form.errors }}
	<div>
	{{ form.username.label }} : {{ form.username }}
	{{ form.username.errors }}
	</div>
	<div>
	{{ form.password.label }} : {{ form.password }}
	{{ form.password.errors }}
	</div>
	<div>
	<input type="submit" value="Submit">
	</div>
</form>
{% endif %}

{% endblock %}